<h3>Concat and Map</h3>
<div class="row">
    <div class="col-4">
        <div>
            <strong>Tech Channel</strong>
            <ul id="elContainer1"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>Comedy Channel</strong>
            <ul id="elContainer2"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>News Channel</strong>
            <ul id="elContainer3"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>Concat</strong>
            <ul id="elContainer4"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>Map</strong>
            <ul id="elContainer5"></ul>
        </div>
    </div>

</div>