<h3>Concat and Merge</h3>
<div class="row">
    <div class="col-4">
        <strong>Video 1 : Comedy Channel(5)</strong>
    </div>
    <div class="col-4">
        <strong>Video 2 : Tech Channel(6)</strong>
    </div>
    <div class="col-4">
        <strong>Video 3 : Movie Channel(4)</strong>
    </div>
    <br>
    <hr>
    <div class="col-4">
        <strong>Concat Map</strong>
        <ul id="elContainer1"></ul>
    </div>
    <div class="col-4">
        <strong>Merge Map</strong>
        <ul id="elContainer2"></ul>
    </div>
</div>