<h3>Share Replay</h3>
<div class="row">
    <div class="col-5">
        <strong>All Users</strong>
        <ul>
            <li *ngFor="let all of allUsers | async">{{all["id"]}}--{{all["name"]}}</li>
        </ul>
    </div>
    <br>
    <div class="col-5">
        <strong>User 1</strong>
        <ul>
            <li *ngFor="let u of user1 | async">{{u["id"]}}--{{u["name"]}}</li>
        </ul>
    </div>
    <div class="col-5">
        <strong>User 2</strong>
        <ul>
            <li *ngFor="let u of user2 | async">{{u["id"]}}--{{u["name"]}}</li>
        </ul>
    </div>
</div>