<h3>MergeMap and ConcatMap and Switch Map</h3>
<div class="row">
    <div class="col-4">
        <strong>Map</strong>
        <strong>Videos : [Tech,Comedy,News]</strong>
        <ul id="elContainer1"></ul>
    </div>
    <div class="col-4">
        <strong>Map + MergeAll</strong>
        <strong>Videos : [Tech,Comedy,News]</strong>
        <ul id="elContainer2"></ul>
    </div>
    <div class="col-4">
        <strong>MergeMap</strong>
        <strong>Videos : [Tech,Comedy,News]</strong>
        <strong>Videos : [Tech,Comedy,News]</strong>
        <ul id="elContainer3"></ul>
    </div>
    <br>
    <hr>
    <div class="col-4">
        <strong>Map + ConcatAll</strong>
        <strong>Videos : [Tech,Comedy,News]</strong>
        <ul id="elContainer4"></ul>
    </div>
    <div class="col-4">
        <strong>ConcatMap</strong>
        <strong>Videos : [Tech,Comedy,News]</strong>
        <ul id="elContainer5"></ul>
    </div>
    <br>
    <hr>
    <div class="col-4">
        <strong>Map + SwitchAll</strong>
        <strong>Videos : [Tech,Comedy,News]</strong>
        <ul id="elContainer6"></ul>
    </div>
    <div class="col-4">
        <strong>SwitchMap</strong>
        <strong>Videos : [Tech,Comedy,News]</strong>
        <ul id="elContainer7"></ul>
    </div>
</div>