<h3>ConcatMap MergeMap SwitchMap</h3>
<h3>SwitchMap Search</h3>
<div>
    <input #inp />
<br>
<br>
<br>
<ul>
    <li *ngFor="let x of list">{{x.postId}} -- {{x.email}}</li>
</ul>
</div>

<hr>
<div class="row">
    <div class="col-4">
        <div>
            <strong>Map</strong>
            <ul id="elContainer1"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>Map + MergeAll</strong>
            <ul id="elContainer2"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>MergeMap</strong>
            <ul id="elContainer3"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>Map + ConcatAll</strong>
            <ul id="elContainer4"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>ConcatMap</strong>
            <ul id="elContainer5"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>Map + SwitchAll</strong>
            <ul id="elContainer6"></ul>
        </div>
    </div>
    <div class="col-4">
        <div>
            <strong>SwitchMap</strong>
            <ul id="elContainer7"></ul>
        </div>
    </div>

</div>

<hr>