<div *ngIf="!isLoggedIn()">

    <h3>Login</h3>
    
    <form ngForm name="f" #f="ngForm" (ngSubmit)="logIn(f)">
        <div class="form-control"><label>User name<input type="text" required ngModel name="username" #username="ngModel"></label></div>
        <div class="form-control"><label>Password<input type="text" required ngModel name="password" #password="ngModel"></label></div>
        <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    </form>
</div>

<div *ngIf="isLoggedIn()">

    <router-outlet></router-outlet>
</div>