<h3>Retry, RetryWhen, Scan and Delay</h3>

<button class="btn btn-primary" type="button" (click)="fetch()">
    <span *ngIf="status==='Fetching...'" class="spinner-border spinner-border-sm" role="status"
        aria-hidden="true"></span>
    {{status==="Fetching..."?"Loading...":status==='Success!'?"Success":"Fetch"}}
</button>
<br>
<br>
<br>
<table *ngIf="data.length>0">
    <tr>

        <th>ID</th>
        <td>{{data[0].id}}</td>
    </tr>
    <tr>
        <th>TITLE</th>
        <td>{{data[0].title}}</td>
    </tr>
    <tr>

        <th>COMPLETED</th>
        <td>{{data[0].completed}}</td>
    </tr>
</table>
<br>
<br>
<br>
<div>Status: <strong [ngClass]="{'text-primary':status==='Fetching...',
    'text-danger':status==='Error!',
    'text-success':status==='Success!'}">{{status}}</strong></div>


