<h3>Debounce and DistinctUntilChanged</h3>
<div class="row">
    
    <div class="card col-4">
        <div class="card-head"><strong>Debounce</strong></div>
        <div class="card-body">
            <input #inp1/>
            <strong *ngIf="search1 !==null" class="text-success">{{search1}}</strong>
        </div>
    </div>
    <div class="card col-4">
        <div class="card-head"><strong>DistinctUntilChanged</strong></div>
        <div class="card-body">
            <input #inp2/>
            <strong *ngIf="search2 !==null"  class="text-success">{{search2}}</strong>
        </div>
    </div>
    
    </div>