<h3>Ng Template Outlet</h3>
<div class="row">
    <div class="col-5">
        <strong>
            Bulb On
        </strong>
        <br>
        <span *ngTemplateOutlet="bulbOn"></span>

    </div>
    <div class="col-5">

        <strong>
            Bulb Off
        </strong>
        <br>
        <span *ngTemplateOutlet="bulbOff"></span>

    </div>
    <div class="col-6">
        <button class="btn" [ngClass]="switchOn?'btn-danger':'btn-success'" (click)="switchOn=!switchOn">{{switchOn ?
            'OFF':"ON"}}</button>
        <span *ngTemplateOutlet="switchOn?bulbOn:bulbOff"></span>
    </div>
</div>

<ng-template #bulbOn>
    <img src="/assets/Bulb ON.jpg" />
</ng-template>
<ng-template #bulbOff>
    <img src="/assets/Bulb OFF.jpg" />
</ng-template>