<h3>Of and From</h3>

<div class="row">
    <div class="col-6">
        <strong>of("Adam","Bob","Charles","Drake")</strong>
        <ul id="elContainer1"></ul>
    </div>
    <div class="col-6">
        <strong>of(&#123;a:"Adam",b:"Bob",c:"Charles",d:"Drake"&#125;)</strong>
        <ul>
            <li>a:{{obj.a}}</li>
            <li>b:{{obj.b}}</li>
            <li>c:{{obj.c}}</li>
            <li>d:{{obj.d}}</li>
        </ul>
    </div>
    <div class="col-4">
        <strong>from(["Adam","Bob","Charles","Drake"])</strong>
        <ul id="elContainer2"></ul>
    </div>
</div>

