<h3>Template Driven Form</h3>
<form ngForm name="f" #f="ngForm" (ngSubmit)="log(f.value)">
    <div class="form-control"><label for="username">User Name<br>
            <input ngModel name="username" #username="ngModel" type="text" required minlength="3"
                pattern="Aadhar"></label>
        <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
            <div *ngIf="username['errors']['required']">
                User Name Required.
            </div>
            <div *ngIf="username['errors']['minlength']">
                Min length should be {{username['errors']['minlength']['requiredLength']}}
            </div>
            <div *ngIf="username['errors']['pattern']">
                Pattern should be {{username['errors']['pattern']['requiredPattern']}}
            </div>
        </div>

    </div>
    <div class="form-control"><label for="password">Password <br>
            <input ngModel name="password" #password="ngModel" type="password"></label></div>
    <div class="form-control">
        <select ngModel name="dd" #dd="ngModel">
            <option *ngFor="let x of contactMethod" [value]="x.value">{{x.name}}</option>
        </select>
    </div>
    <div class="form-control">
    <label><input ngModel name="pick" #pick="ngModel" type="checkbox">Pick</label>    
    </div>
    <div class="form-control">
        <div *ngFor="let x of contactMethod">

            <label><input ngModel name="radio" #radio="ngModel" type="radio" value={{x.value}}>{{x.name}}</label>    
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>

{{f.value | json}}