.error li{
    color: red;
    background: salmon;
}

.complete li{
    color: green;
    background: #9aedc7;
}

ul.list li{
    margin-top: 0.5em;
    border: grey solid 1px;
}

.danger{
    color: red;
}