<h3>Replay Subject</h3>
<div class="row">
    <div class="col-12"><input type="text" #inp>
        <button class="btn btn-primary" (click)="onClickAddBtn(inp)">Add Video</button></div>
    <div class="col-4">
        <strong>Video: 1</strong>
        <ul>
            <li *ngFor="let item of list1">
                {{item}}
            </li>
        </ul>
    </div>
    <div class="col-4">
        <strong>Video: User 2</strong>
        <ul>
            <li *ngFor="let item of list2">
                {{item}}
            </li>
        </ul>
        <br>
        <button 
        (click)="onSubsUnSubs2()"
        class="btn"
            [ngClass]="{'btn-success':!isSubscribed2,'btn-danger':isSubscribed2}">{{isSubscribed2?"Unsubscribe":"Subscribe"}}</button>
    </div>
    <div class="col-4">
        <strong>Video: User 3</strong>
        <ul>
            <li *ngFor="let item of list3">
                {{item}}
            </li>
        </ul>
        <br>
        <button 
        (click)="onSubsUnSubs3()"
        class="btn"
        [ngClass]="{'btn-success':!isSubscribed3,'btn-danger':isSubscribed3}">{{isSubscribed3?"Unsubscribe":"Subscribe"}}</button>
    </div>
</div>