<h3>CombineLatest, WithLatestFrom, Zip and Fork</h3>

<div class="row">
    <div class="col-6">
        <strong>Color</strong>
        <select #color>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="blue">Blue</option>
            <option value="orange">Orange</option>
            <option value="pink">Pink</option>
        </select>
    </div>
    <div class="col-6">
        <strong>Name</strong>
        <select #name>
            <option value="Adam">Adam</option>
            <option value="Bob">Bob</option>
            <option value="Charles">Charles</option>
            <option value="Drake">Drake</option>
            <option value="Evan">Evan</option>
            <option value="Frank">Frank</option>
        </select>
    </div>
    <br>
    <br>
    <div class="col-3">
        <strong>CombineLatest</strong>
        <ul id="elContainer1"></ul>
    </div>
    <div class="col-3">
        <strong>WithLatestFrom</strong>
        <ul id="elContainer2"></ul>
    </div>
    <div class="col-3">
        <strong>Zip</strong>
        <ul id="elContainer3"></ul>
    </div>
    <div class="col-3">
        <strong>ForkJoin</strong>
        <ul id="elContainer4"></ul>
    </div>
</div>