<form [formGroup]="f">
    <div class="form-control"><label for="userName">User name <br><input formControlName="username" type="text"></label>
    <div class="alert alert-danger" *ngIf="uname.touched && uname.invalid">
        <div *ngIf="uname['errors']['required']">Required</div>
        <div *ngIf="uname['errors']['minlength']">Min length {{uname['errors']['minlength']['requiredLength']}}</div>
        <div *ngIf="uname['errors']['containsSpace']">Username should not contain space</div>
        <div *ngIf="uname['errors']['isNotUnique']">Username should not contain space</div>
    </div>
    </div>
    <div class="form-control"><label for="password">Password<br><input formControlName="password" type="password"></label></div>
</form>

{{f.value | json}}