<h3>toArray</h3>
<div class="row">
    
    <div class="card col-4">
        <div class="card-head"><strong>Ex - 01 : Using interval</strong></div>
        <div class="card-body">
            <ul id="elContainer1"></ul>
        </div>
    </div>
    <div class="card col-4">
        <div class="card-head"><strong>Ex - 02 : Using of</strong></div>
        <div class="card-body">
            <ul id="elContainer2"></ul>
        </div>
    </div>
    <div class="card col-4">
        <div class="card-head"><strong>Ex - 03 : Using from</strong></div>
        <div class="card-body">
            <ul id="elContainer3"></ul>
        </div>
    </div>
    </div>
